% rebase('base.html', title="Media Control")

<main class="grid">
% for item in display_items:
    <button class="media-item" data-file="{{item['file']}}">
        % if item['type'] == 'video':
            <img src="/thumbnails/{{item['thumb']}}">
        % else:
            <img src="/media/{{item['file']}}">
        % end
    </button>
% end
</main>

<script>
function triggerCommand(filename) {
    fetch('/run-media', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ file: filename })
    })
    .then(response => response.text())
    .then(data => {
        console.log("Command executed:", data);
    })
    .catch(err => console.error(err));
}
</script>